.container{
    background-color: red;
    height:700px ;
    width: 700px;
    display: grid;

    /* grid-template-rows: 135px 135px 135px; */
    /* grid-template-columns: 135px 135px 135px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 12px;
    column-gap: 12px;
}
.item{
    background-color: aqua;
    /* height: 122px;
    width: 122px; */
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}